
@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4 text-center">Login</h1>

<div class="row text-center">
    <div class="col-6">
        <form asp-controller="Account" asp-action="EmployeeLogin" method="post">
            <button class="btn btn-primary" type="submit">Employee Login</button>
        </form>
    </div>
    <div class="col-6">
        <form asp-controller="Account" asp-action="PartnerLogin" method="post">
            <button class="btn btn-primary" type="submit">Partner Login</button>
        </form>
    </div>
</div>

